<section>	
	<div class="container content-inner">
		<div class="row text-center">
			<h1 class="text-shadowed">Espresso Drinks Guide</h1>
			<p>What’s the difference between a <strong>cappuccino and a latte</strong>? What's a cortado got that a <em>macchiato</em> doesn’t? This <strong>guide to espresso drinks</strong> is a quick overview of how some of the most beloved coffee drinks are built. These proportions vary depending on the recipe, this is <strong>intended only as a nice education tool</strong> not as the only correct way to construct these drinks. Enjoy!</p>
		</div>
		<div id="espresso-drink-guide">
			<nav class="drink-types large-8 text-center">			
				<ul>
					<li><a class="current" data-name="espresso" href="#espresso-drinks-yum">espresso</a></li>			
					<li><a data-name="macchiato" href="#espresso-drinks-yum">macchiato</a></li>
					<li><a data-name="cortado" href="#espresso-drinks-yum">cortado</a></li>
					<li><a data-name="cappuccino" href="#espresso-drinks-yum">cappuccino</a></li>
					<li><a data-name="latte" href="#espresso-drinks-yum">latte</a></li>
				</ul>
				<div id="espresso-drinks-yum">
				</div>
				<div id="highlight">
				</div>						                  
			</nav>
			<div class="espresso-illustration">
				<div class="cup">
					<div class="cup-inner">
						<div class="cup-structure">
						</div>
						<div class="cup-contents" id="ingredients">
							<div id="espresso" class="drink-layer" data-volume="0"></div>
							<div id="milk" class="drink-layer" data-volume="0"></div>
							<div id="froth" class="drink-layer" data-volume="0"></div>
							<div id="cup-bg"></div>						
						</div>
					</div>
				</div>
				<div class="equation">
						<div class="key espresso">
							<div class="espresso swatch"></div>
							<div id="espresso-key">
								<span class="range">28-30g</span> 
								<span class="ingredient-name">ESPRESSO</span>
							</div>
						</div>
						<div class="key milk">
							<div class="milk swatch add"></div>
							<div id="milk-key">
								<span class="range">28-30g</span> 
								<span class="ingredient-name">MILK</span>
							</div>
						</div>
						<div class="key froth">
							<div class="froth swatch add"></div>
							<div id="froth-key">
								<span class="range">28-30g</span> 
								<span class="ingredient-name">FROTH</span>
							</div>
						</div>
						<div class="key total">
							<div class="total swatch equal"></div>
							<div id="total-key">
								APP. 
								<span class="range">28-30g</span> 
								<span class="ingredient-name">TOTAL</span>
							</div>
						</div>
				</div>
			</div>
			<div class="espresso-description espresso row">
				<h2>Espresso</h2>
				<p class="large-8 large-offset-2 columns">Espresso is a concentrated beverage brewed by forcing a small amount of nearly boiling water under pressure through finely ground coffee beans.</p>
			</div>
			<div class="espresso-description macchiato row">
				<h2>Macchiato</h2>
				<p class="large-8 large-offset-2 columns">Macchiato is the tiniest of the milk drinks. Don't be fooled by its miniature stature. When prepared properly this sucker delivers a tasty balance of coffee and milk.<!-- Espresso with a small amount of milk. 'Macchiato' means literally 'espresso stained/marked with milk'. Traditionally it is made with one shot of espresso, and the small amount of added milk was the 'stain'. --></p>
			</div>
			<div class="espresso-description cortado row">
				<h2>Cortado</h2>
				<p class="large-8 large-offset-2 columns">A cortado is an espresso cut with a small amount of warm milk. The ratio of milk to coffee is between 1:1 – 1:2, and the milk is added after the espresso. The word "cortado" is from the Spanish cortar, to cut.</p>
			</div>
			<div class="espresso-description cappuccino row">
				<h2>Cappuccino</h2>
				<p class="large-8 large-offset-2 columns">A cappuccino is an Italian coffee drink traditionally prepared with espresso, hot milk, and steamed-milk foam. The name comes from the Capuchin friars, referring to the colour of their habits.</p>
			</div>
			<div class="espresso-description latte row">
				<h2>Latte</h2>
				<p class="large-8 large-offset-2 columns">A latte is larger than a cappuccino and consists of espresso, steamed milk and topped with a small amount of foam (micro-foam, froth, etc etc whatever people are using these days). We recommend this to anyone who is looking for a milk-forward drink that you can sip for more than a minute.<!-- A latte (shortened form of the Italian caffè latte or caffellatte pronounced, meaning "coffee milk") is a coffee drink made with a shot of espresso and 3 to 5 parts of steamed milk. --></p>
			</div>
		</div>
	</div>

	<script>
		$(document).ready(function(){
			//$('body').addClass('home-page');
		});
	</script>	
</section>
