<div class="row">
		<!-- Main Blog Content -->
		<div class="large-12 columns text-center">
			<h1>French Press Brew Guide</h1>
			<h2>Recommended recipe for <em>400g water</em> to <em>28g coffee</em></h2>			
			<p>The <strong><em>perfect</em> French Press</strong> takes a little more fuss than the typical "guestimation" approach but the hassle is well worth the result, especially if you drink it black. This recipe is for <strong>400 grams of water</strong> to <strong>28 grams of coffee</strong>.</p>
		</div>
		<hr>
</div>
<div class="row">
	<div class="large-12 columns">
		<ul data-orbit data-options="timer_speed:0;"> 
		  <li>
		  	<img src="/images/slides/french-press/s-what-is-needed.jpg"  alt="French Press" />
		    <div class="orbit-caption">
		    	Recipe for 400g water and 28g of coffee. Yields 3 cups. You will need an <strong>(A) press pot</strong>, (B) whole bean coffee 2-7 days off roast, (C) a burr grinder (not blade ideally), etc.
		    </div>
		  </li>
		  <li>
		  	<img src="/images/slides/french-press/s-coarse-setting.jpg"  alt="French Press" />
		  </li>
		  <li>
		  	<img src="/images/slides/french-press/s-clean-plunger.jpg"  alt="French Press" />
		  </li>
		  <li>
		  	<img src="/images/slides/french-press/s-water-into-kettle.jpg"  alt="French Press" />
		  </li>
		  <li>
		  	<img src="/images/slides/french-press/s-begin-heating-water.jpg"  alt="French Press" />
		  </li>
		  <li>
		  	<img src="/images/slides/french-press/s-heat-pot.jpg"  alt="French Press" />
		  </li>
		  <li>
		  	<img src="/images/slides/french-press/s-measure-beans.jpg"  alt="French Press" />
		  </li>
		  <li>
		  	<img src="/images/slides/french-press/s-grind-beans.jpg"  alt="French Press" />
		  </li>
		  <li>
		  	<img src="/images/slides/french-press/s-tare-and-dump.jpg"  alt="French Press" />
		  </li>
		  <li>
		  	<img src="/images/slides/french-press/s-start-timer.jpg"  alt="French Press" />
		  </li>
		  <li>
		  	<img src="/images/slides/french-press/s-pour-slowly.jpg"  alt="French Press" />
		  </li>
		  <li>
		  	<img src="/images/slides/french-press/s-top-and-wait.jpg"  alt="French Press" />
		  </li>
		  <li>
		  	<img src="/images/slides/french-press/s-remove-grinds.jpg"  alt="French Press" />
		  </li>
		  <li>
		  	<img src="/images/slides/french-press/s-press-slowly.jpg"  alt="French Press" />
		  </li>
		  <li>
		  	<img src="/images/slides/french-press/s-enjoy.jpg"  alt="French Press" />
		  </li>
		</div>
	</div>
</div>	
