<div class="row text-center">
   <div class="large-12 columns">
      <h1 class="text-shadowed">Some Top Coffee Shops</h1>
      <h2>If you can visit these shops, you should</h2>
      <p>This is not an exhaustive list, but every place on this list is verified by your friends at Index to be absolutely incredible. Many of the shops also roast their own. All source photography for the below illustrations is property the respective shops.</p>
   </div>
</div>
<div class="row coffee-scene">
   <div class="large-12 columns">
      <hr class="spoon-and-brush" />
      
      <h3>California</h3>
      <ul class="row">
         <li>
            <div class="large-4 columns shop-info">
                  <h5>website:</h5>
                  <a href="http://ggetla.com/">G&amp;B / Go Get Em Tiger</a>
                  <h5>location:</h5>
                  <a href="https://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=230+N.+Larchmont+Blvd.,+Los+Angeles&aq=&sll=33.979809,-118.199158&sspn=0.71173,1.326599&vpsrc=0&ie=UTF8&hq=&hnear=230+N+Larchmont+Blvd,+Los+Angeles,+California+90004&t=m&z=16&iwloc=A">Los Angeles</a>
            </div>
            <div class="large-8 columns shop-pic">
                  <a class="th" href="http://ggetla.com/"><img src="/images/gallery/gget.jpg"/></a></a>
            </div>
         </li>
         <li>
            <div class="large-4 columns shop-info">
                  <h5>website:</h5>                  
                  <a href="http://handsomecoffee.com/">Handsome Coffee</a>
                  <h5>location:</h5>
                  <a href="https://maps.google.com/maps?client=safari&oe=UTF-8&ie=UTF8&q=Handsome+Coffee&fb=1&gl=us&hq=Handsome+Coffee&cid=3520748456687898488&t=m&z=16&vpsrc=0&iwloc=A">Los Angeles</a>
            </div>
            <div class="large-8 columns shop-pic">
                  <a class="th" href="http://handsomecoffee.com/"><img src="/images/gallery/handsome.jpg"/></a>
            </div>

         </li>
         <li>
            <div class="large-4 columns shop-info">
                  <h5>website:</h5>                  
                  <a href="http://intelligentsiacoffee.com/">Intelligentsia Venice</a>
                  <h5>location:</h5>
                  <a href="https://maps.google.com/maps?client=safari&oe=UTF-8&ie=UTF8&q=Intelligentsia+Venice&fb=1&gl=us&hq=Intelligentsia+Venice&cid=1365067254120236962&t=h&z=16&vpsrc=6&iwloc=A">Venice</a>
            </div>
            <div class="large-8 columns shop-pic">
                  <a class="th" href="http://intelligentsiacoffee.com/"><img src="/images/gallery/intelli-venice.jpg"/></a>
            </div>
         </li>
         <li>
            <div class="large-4 columns shop-info">
                  <h5>website:</h5>                  
                  <a href="http://vervecoffeeroasters.com/">Verve</a>
                  <h5>location:</h5>
                  <a href="https://maps.google.com/maps?client=safari&ie=UTF8&q=verve+coffee+roasters+pacific+avenue+santa+cruz+ca&fb=1&gl=us&hq=verve+coffee+roasters+pacific+avenue+santa+cruz+ca&hnear=verve+coffee+roasters+pacific+avenue+santa+cruz+ca&cid=9805394950188312342&ll=36.976295,-122.026713&spn=0.010714,0.020728&t=m&z=16&vpsrc=6&iwloc=A">Santa Cruz</a>
            </div>
            <div class="large-8 columns shop-pic">
                  <a class="th" href="http://vervecoffeeroasters.com/"><img src="/images/gallery/verve.jpg"/></a>
            </div>

         </li>
      </ul>
      <hr class="spoon-and-brush" />

      <h3>Canada</h3>
      <ul class="row">
         <li>
            <div class="large-4 columns shop-info">
                  <h5>website:</h5>                  
                  <a href="http://www.49thparallelroasters.com/">49th Parallel</a>
                  <h5>location:</h5>
                  <a href="https://maps.google.com/maps?client=safari&ie=UTF8&q=49th+parallel+main+street+vancouver&fb=1&gl=us&hq=49th+parallel&hnear=Main+St,+Vancouver,+British+Columbia,+Canada&t=h&z=14&vpsrc=0&iwloc=A&cid=18198638576138019581">Vancouver</a>
            </div>
            <div class="large-8 columns shop-pic">
                  <a class="th" href="http://www.49thparallelroasters.com/"><img src="/images/gallery/49th-parallel.jpg"/></a>
            </div>
         </li>
         <li>
            <div class="large-4 columns shop-info">
                  <h5>website:</h5>
                  <a href="http://heistcoffee.com/">Heist</a>
                  <h5>location:</h5>
                  <a href="https://maps.google.com/maps?client=safari&q=727+Courtney+Street,+Victoria+British+columbia&ie=UTF8&hl=en&hq=&hnear=727+Courtney+St,+Victoria,+British+Columbia+V8W+2B9,+Canada&t=h&z=16&vpsrc=0&iwloc=A">Victoria</a>
            </div>
            <div class="large-8 columns shop-pic">
                  <a class="th" href="http://heistcoffee.com/"><img src="/images/gallery/heist.jpg"/></a>
            </div>

         </li>
         <li>
            <div class="large-4 columns shop-info">
                  <h5>website:</h5>
                  <a href="http://philsebastian.com/">Phil and Sebastian</a>
                  <h5>location:</h5>
                  <a href="https://maps.google.com/maps?client=safari&oe=UTF-8&ie=UTF8&q=Phil+and+Sebastian+coffee&fb=1&gl=us&hq=Phil+and+Sebastian+coffee&cid=2462581533734619838&t=h&z=16&vpsrc=0&iwloc=A">Calgary</a>
            </div>
            <div class="large-8 columns shop-pic">
                  <a class="th" href="http://philsebastian.com/"><img src="/images/gallery/phil-sebastian.jpg"/></a>
            </div>

         </li>
         <li>
            <div class="large-4 columns shop-info">
                  <h5>website:</h5>
                  <a href="http://thombargen.com/">Thom Bargen</a>
                  <h5>location:</h5>
                  <a href="https://maps.google.com/maps?client=safari&q=Thom+Bargen+coffee+and+tea&ie=UTF8&hl=en&hq=Thom+Bargen+coffee+and+tea&hnear=&radius=15000&ll=49.880713,-97.159803&spn=0.008642,0.020728&t=h&z=16&vpsrc=0&iwloc=A&cid=6928827978634448823">Winnipeg</a>
            </div>
            <div class="large-8 columns shop-pic">
                  <a class="th" href="http://thombargen.com/"><img src="/images/gallery/thom-bargen.jpg"/></a>
            </div>

         </li>
         <li>
            <div class="large-4 columns shop-info">
                  <h5>website:</h5>
                  <a href="http://workingcoffee.com/">Working Coffee</a>
                  <h5>location:</h5>
                  <a href="https://maps.google.ca/maps?client=safari&oe=UTF-8&ie=UTF8&q=sidewalk+citizen+bakery&fb=1&gl=ca&hq=sidewalk+citizen+bakery&cid=2548635911425659324&hnear=&t=m&z=16&vpsrc=0&iwloc=A">Calgary</a>
            </div>
            <div class="large-8 columns shop-pic">
                  <a class="th" href="http://workingcoffee.com/"><img src="/images/gallery/working-coffee.jpg"/></a>
            </div>

         </li>
      </ul>
      <hr class="spoon-and-brush" />

      <h3>District of Columbia</h3>
      <ul class="row">
         <li>
            <div class="large-4 columns shop-info">
                  <h5>website:</h5>
                  <a href="http://thecoffeebardc.com/">Coffeebar DC</a>
                  <h5>location:</h5>
                  <a href="https://maps.google.com/maps?client=safari&ie=UTF8&q=D.C.+coffee+bar&fb=1&gl=us&hq=coffee+bar&hnear=0x89b7c6de5af6e45b:0xc2524522d4885d2a,Washington,+DC&cid=788253656558139433&t=h&z=16&vpsrc=0&iwloc=A">Washington, D.C.</a>
            </div>
            <div class="large-8 columns shop-pic">
                  <a class="th" href="http://thecoffeebardc.com/"><img src="/images/gallery/the-coffee-bar-dc.jpg"/></a>
            </div>

         </li>
      </ul>
      <hr class="spoon-and-brush" />

      <h3>Florida</h3>
      <ul class="row">
         <li>
            <div class="large-4 columns shop-info">
                  <h5>website:</h5>
                  <a href="http://voltacoffee.com/">Volta</a>
                  <h5>location:</h5>
                  <a href="https://maps.google.com/maps?ie=UTF8&q=Volta+coffee&fb=1&gl=us&hq=Volta+coffee&cid=16811357844689498219&t=h&z=16&vpsrc=0&iwloc=A">Gainesville</a>
            </div>
            <div class="large-8 columns shop-pic">
                  <a class="th" href="#"><img src="/images/gallery/volta.jpg"/></a>
            </div>

         </li>
      </ul>
      <hr class="spoon-and-brush" />

      <h3>Ireland</h3>
      <ul class="row">
         <li>
            <div class="large-4 columns shop-info">
                  <h5>website:</h5>
                  <a href="http://3fe.com/">Third Floor Espresso</a>
                  <h5>location:</h5>
                  <a href="https://maps.google.com/maps?client=safari&q=third+floor+espresso&oe=UTF-8&ie=UTF8&hq=third+floor+espresso&ll=53.350526,-6.262336&spn=0.016011,0.041456&t=h&z=15&vpsrc=0&iwloc=A&cid=10816563798264781683">map</a>
            </div>
            <div class="large-8 columns shop-pic">
                  <a class="th" href="http://3fe.com/"><img src="/images/gallery/3fe.jpg"/></a>
            </div>

         </li>
      </ul>
      <hr class="spoon-and-brush" />

      <h3>Japan</h3>
      <ul class="row">
         <li>
            <div class="large-4 columns shop-info">
                  <h5>website:</h5>
                  <a href="http://bear-pond.com/">Bear Pond</a>
                  <h5>location:</h5>
                  <a href="https://maps.google.com/maps?ie=UTF8&q=bear+pond+coffee&fb=1&gl=us&hq=bear+pond+coffee&cid=2501638981371953487&t=h&z=16&vpsrc=0&iwloc=A">Tokyo</a>
            </div>
            <div class="large-8 columns shop-pic">
                  <a class="th" href="http://bear-pond.com/"><img src="/images/gallery/bear-pond.jpg"/></a>
            </div>

         </li>
      </ul>
      <hr class="spoon-and-brush" />

      <h3>London</h3>
      <ul class="row">
         <li>
            <div class="large-4 columns shop-info">
                  <h5>website:</h5>
                  <a href="http://squaremilecoffee.com/">Square Mile</a>
                  <h5>location:</h5>
                  <a href="https://maps.google.com/maps?q=8+Pritchards+Road+London+E2+9AP&ie=UTF8&hq=&hnear=8+Pritchard's+Rd,+London+E2,+United+Kingdom&gl=us&t=h&z=16&vpsrc=6&iwloc=A">London</a>
                  <h5>notes:</h5>
                  <span>by appointment only</span>

            </div>
            <div class="large-8 columns shop-pic">
                  <a class="th" href="http://squaremilecoffee.com/"><img src="/images/gallery/square-mile.jpg"/></a>
            </div>
         </li>
         <li>
            <div class="large-4 columns shop-info">
                  <h5>website:</h5>
                  <a href="http://www.hasbean.co.uk/">HasBean</a>
                  <h5>location:</h5>
                  <a href="https://maps.google.com/maps?q=Unit+16,+Ladford+Covert+Ladfordfields+Industrial+Estate+Seighford+Stafford+ST18+9QL+United+Kingdom&ie=UTF8&hl=en&hq=Unit+16,+Ladford+Covert+Ladfordfields+Industrial+Estate&hnear=Seighford+ST18+9QL,+United+Kingdom&ll=52.833755,-2.207243&spn=0.008335,0.022058&t=h&z=16&vpsrc=0&iwloc=A&cid=16235309543381813673">near Seighford</a>
            </div>
            <div class="large-8 columns shop-pic">
                  <a class="th" href="http://www.hasbean.co.uk/"><img src="/images/gallery/has-bean.jpg"/></a>
            </div>

         </li>
      </ul>
      <hr class="spoon-and-brush" />

      <h3>Michigan</h3>
      <ul class="row">
         <li>
            <div class="large-4 columns shop-info">
                  <h5>website:</h5>
                  <a href="http://madcapcoffee.com/">Madcap</a>
                  <h5>location:</h5>
                  <a href="https://maps.google.com/maps?ie=UTF8&q=Madcap+coffee&fb=1&gl=us&hq=Madcap+coffee&cid=7909551067893685686&ll=42.966331,-85.669906&spn=0.010096,0.022058&t=h&z=16&vpsrc=6&iwloc=A">Grand Rapids</a>
            </div>
            <div class="large-8 columns shop-pic">
                  <a class="th" href="http://madcapcoffee.com/"><img src="/images/gallery/madcap.jpg"/></a>
            </div>

         </li>
         <li>
            <div class="large-4 columns shop-info">
                  <h5>website:</h5>
                  <a href="http://astrodetroit.com/">Astro</a>
                  <h5>location:</h5>
                  <a href="https://maps.google.com/maps?ie=UTF8&q=Astro+coffee&fb=1&gl=us&hq=Astro+coffee&cid=16819353217900194046&t=h&z=16&vpsrc=6&iwloc=A">Detroit</a>
            </div>
            <div class="large-8 columns shop-pic">
                  <a class="th" href="http://astrodetroit.com/"><img src="/images/gallery/astro.jpg"/></a>
            </div>

         </li>
         <li>
            <div class="large-4 columns shop-info">
                  <h5>website:</h5>
                  <a href="https://twitter.com/cometcoffee">Comet</a>
                  <h5>location:</h5>
                  <a href="https://maps.google.com/maps?ie=UTF8&q=Comet+coffee&fb=1&gl=us&hq=Comet+coffee&cid=18148330361708406855&t=h&z=16&vpsrc=6&iwloc=A">Ann Arbor</a>
            </div>
            <div class="large-8 columns shop-pic">
                  <a class="th" href="https://twitter.com/cometcoffee"><img src="/images/gallery/comet.jpg"/></a>
            </div>

         </li>
      </ul>
      <hr class="spoon-and-brush" />

      <h3>Norway</h3>
      <ul class="row">
         <li>
            <div class="large-4 columns shop-info">
                  <h5>website:</h5>
                  <a href="http://timwendelboe.com/">Tim Wendelboe</a>
                  <h5>location:</h5>
                  <a href="https://maps.google.com/maps?ie=UTF8&q=Tim+Wendelboe+coffee&fb=1&gl=us&hq=Tim+Wendelboe+coffee&cid=3391370463995849095&t=h&z=16&vpsrc=6&iwloc=A">Oslo</a>
                  <h5>notes:</h5>
                  <span>by appointment only</span>
            </div>
            <div class="large-8 columns shop-pic">
                  <a class="th" href="http://timwendelboe.com/"><img src="/images/gallery/tim-wendelboe.jpg"/></a>
            </div>

         </li>
      </ul>
      <hr class="spoon-and-brush" />

      <h3>Oregon</h3>
      <ul class="row">
         <li>
            <div class="large-4 columns shop-info">
                  <h5>website:</h5>
                  <a href="http://heartroasters.com/">Heart Coffee Roasters</a>
                  <h5>location:</h5>
                  <a href="https://maps.google.com/maps?ie=UTF8&q=Heart+Coffee+portland&fb=1&gl=us&hq=Heart+Coffee&hnear=0x54950b0b7da97427:0x1c36b9e6f6d18591,Portland,+OR&cid=10344417383084901330&t=h&z=16&vpsrc=6&iwloc=A">Portland</a>
            </div>
            <div class="large-8 columns shop-pic">
                  <a class="th" href="http://heartroasters.com/"><img src="/images/gallery/heart.jpg"/></a>
            </div>

         </li>
      </ul>
      <hr class="spoon-and-brush" />      

      <h3>Tennessee</h3>
      <ul class="row">         
         <li>
            <div class="large-4 columns shop-info">
                  <h5>website:</h5>                  
                  <a href="http://baristaparlor.com/">Barista Parlor</a>
                  <h5>location:</h5>
                  <a href="https://maps.google.com/maps?client=safari&oe=UTF-8&ie=UTF8&q=barista+parlor&fb=1&gl=us&hq=barista+parlor&cid=433692174495893633&t=h&z=16&vpsrc=6&iwloc=A">Nashville</a>
            </div>
            <div class="large-8 columns shop-pic">
                  <a class="th" href="http://baristaparlor.com/"><img src="/images/gallery/barista-parlor.jpg"/></a>
            </div>
         </li>
      </ul>
      <hr class="spoon-and-brush" />            

      <h3>Texas</h3>
      <ul class="row">
         <li>
            <div class="large-4 columns shop-info">
                  <h5>website:</h5>
                  <a href="http://hotdogscoldbeer.com/">Frank</a>
                  <h5>location:</h5>
                  <a href="https://www.google.com/maps?sll=30.266964999999995,-97.744552&cid=9778668060227762106&q=frank's+austin&ie=UTF8&hq=frank's+austin&hnear=&t=h&vpsrc=6&ll=30.266965,-97.744551&spn=0.002048,0.002591&z=19&iwloc=A">Austin</a>
            </div>
            <div class="large-8 columns shop-pic">
                  <a class="th" href="http://hotdogscoldbeer.com/"><img src="/images/gallery/frank.jpg"/></a>
            </div>

         </li>
      </ul>

      <hr class="spoon-and-brush" />            

   </div>
</div>
<div class="row text-center" id="suggest">
   <div class="large-12 columns">
      <h2>We're missing your favorite shop?</h2>
      <p>We're sorry we missed it. Fortuntely this is just a partial list of shops whose offerings we have confidence in and there are <strong>tons more</strong> amazing shops not listed here. We do not aim to offend, we just missed it. If you strongly feel a shop should be included, please suggest it on our wall.</p> 
      <a href="https://www.facebook.com/indexcoffeecompany" class="button">Suggest a shop</a>      
   </div>
</div>