<header>
	<div class="header coffee-cherries" id="top">
	  <div class="row">
				<div class="what-is text-center">
					<div class="logo">
						<div class="where">In <span>PGH</span></div>
						<div class="when">Est. <span>2013</span></div>
						<div class="logomark"></div>
					</div>
					<h1>Index Coffee</h1>
					<div class="coffee-at-home"><img src="images/coffee-at-home.png"></div>    
				</div>
	  </div>
	</div>
</header>
<section>	
	<div class="container content-inner">
		<div class="row text-center">
			<div class="large-12 columns">
				<h1 class="text-shadowed">Coffee Guides <em>and</em> Learning</h1>
				<p>More and more folks are interested in brewing at home, but it's still hard to find good guides to brewing at home. Part of our mission is to solve this problem. We've started with <a href="/guides/french-press">some</a> guides <a href="/guides/espresso-drinks">already</a> and we'll even <a href="/service">serve coffee</a> at your event or office, but we aren't blogging from this page yet so feel free to keep tabs on our Facebook Page for <a href="http://facebook.com/indexcoffeecompany">updates</a>.				
				</p>						
			</div>
		</div>			
		<div class="row">
				<div class="large-12 columns text-center">
					<a class="to-french-press" href="/guides/french-press">French Press Coffee Guide</a>
				</div>
		</div>
		<div class="row">
			<div class="large-12 columns text-center">
				<h2>Coffee Myths That Are Malarkey</h2>
			</div>
		</div>
		<div class="row">
			<ul class="coffee-list text-center">
				<li class="large-12 columns">
					<hr class="spoon-and-brush" />
					<h3>One serving of espresso has more caffeine than a cup of coffee</h3>
					<p>This is one of the most prevalent misconceptions about coffee. Many think of espresso as a caffeine depth charge however a shot of espresso has less caffeine than a typical 8oz brewed coffee. Espresso is a small drink, generally around 30g therefore requires less coffee to make. Additionally it is brewed in a fraction of the time that it takes to make a filtered coffee.</p>
				</li>
				<li class="large-12 columns">
					<hr class="spoon-and-brush" />
					<h3>it's your coffee maker's fault</h3>
					<p>The quality of your automatic coffee maker has little to do with the outcome. The most important elements to brewing are coffee, water, and time. Competetive baristas (yes, there are competitions!) prefer brew methods that are manual. Various coffees respond differently to various brew methods. In fact you can have the same coffee brewed in two different ways, and have them taste like two different coffees.</p>
				</li>			
				<li class="large-12 columns">
					<hr class="spoon-and-brush" />
					<h3>fair trade coffee is fair &amp; sustainable</h3>
					<p>Coffee drinkers will see fair trade touted as best for the farmer. In fact, fair trade places too many middlemen in the process. The most direct and beneficial (to the farmer &amp; the consumer) is called direct trade.</p>
				</li>					
				<li class="large-12 columns">
					<hr class="spoon-and-brush" />
					<h3>darker roasts: fuller flavor</h3>
					<p>Extremely common myth. A dark (e.g. French, Vienna, Oily Mess) roast is typically marketed as high-end by companies that have lower quality beans. Darker roast profiles burn up most of the sugars(flavor) in the bean resulting in a thin, ashy cup of hot water. In our opinion amazing coffee is the result of diligent farmers and thoughtful roasters. It's up to you not to screw it up in your kitchen.
					</p>
				</li>
				<li class="large-12 columns">
					<hr class="spoon-and-brush" />
					<h3>darker roasts: higher quality</h3>
					<p>A good metaphor to remember is that of searing meat. The better the meat, the less you'll want to cook the shit out of it. The highest quality meats shine when they aren't well-done, but lightly seared. The same goes for coffee. Careful cultivation, full development with light roast profiles will result in exciting, amplified flavors in the cup!</p>
				</li>			
				<li class="large-12 columns">
					<hr class="spoon-and-brush" />
					<h3>decaf is gross</h3>
					<p>There is nothing worse than bad decaf, but when high-quality beans are properly decaffeinated then prepared the right way, it's an incredibly beautiful thing. Among decaf drinkers, you'll find some of the most dedicated coffee drinkers... enjoying a brew at 8pm.</p>
				</li>		
				<li class="large-12 columns">
					<hr class="spoon-and-brush" />
					<h3>Fair Trade = Direct Trade</h3>
					<p><a href="http://www.directtradecoffee.com">Direct trade</a> is when you buy the beans directly from a coffee farmer. It's much like the farmer's market: it encourages the best outcomes on all sides of the table. Fair trade by contrast is more like a grocery store which sources several farmers to the point neither you nor the farmer exactly know what they're getting. Direct trade is commonly held as the better model.</p>
				</li>				
			</ul>
		</div>
	</div>
</section>

