<div class="row tm in-pittsburgh">
  <div class="large-12 columns text-center">
    <h1 class="text-shadowed">Coffee Service <em>for</em> P<span>ittsbur</span>gh</h1>     
    <h2>Pittsburgh&rsquo;s <em>yummiest</em> coffee at your office or&nbsp;event</h2>           
  </div>
  <hr class="tm spoon-and-brush" />  
</div>

<div class="row tools tm">
  <div class="kettle tool"></div>
  <div class="wave tool"></div>
  <div class="grinder tool"></div>
  <div class="chemex tool"></div>
  <div class="intelli-cup tool"></div>
</div>

<div class="row text-center">
  <div class="large-12 columns">
    <hr>    
    <h4 class="subheader">When I arrive to your office with my <strong>guerrilla brew bar</strong>, expect to enjoy some <em>seriously</em> tasty coffee. I brew with only the most legitimate <span style='font-family: Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;; font-style: italic;'>&amp;</span> freshly roasted coffees. The brew bar will be <strong>around Pittsburgh this summer</strong>.</h4>
    <a href="mailto:kevin@indexcoffee.com" class="button">Inquire about a booking</a>    
    <hr>
  </div>
</div>
<div class="row text-center">
  <div class="large-6 columns what-is-involved">
    <h3><strong>What</strong> is this?</h3>
    <p>I serve your office coffee <!-- <a href="#"> -->using various <em>manual</em> brewing methods<!-- </a> --> a half or full day. Simple.</p> 
  </div>
  <div class="large-6 columns who-am-i">
    <h3>Who is <strong>Index</strong> Coffee?</h3>
    <p>Index is a "coffee startup" lead by me, Kevin Boyle, a barista working at Big Dog.</p> 
  </div>
</div>  
<div class="row text-center coffee-served">
  <div class="large-6 columns from-you">
    <h3>What I <strong>Need</strong> from you</h3>
    <p>My station is minimal and requires very little time to setup and breakdown, all I need is <em>a single outlet</em> in your office. I don't sell anything.</p> 
  </div>
  <div class="large-6 columns">
    <h3>A better <strong>Cup</strong></h3>
    <p>I will be sourcing freshly roasted coffee from world-reknown roasters <strong>only</strong>. The lineup rotates constantly depending on season (specifics prior to the event).</p> 
  </div>
</div>
<div class="row">
  <hr/>
  <div class="large-12 columns text-center">
    <h4>Pricing</h4>
    <p>All we can tell you is that we are <strong>affordable</strong> considering we use the best roasted coffees in the world. We are taking the pricing question on a case-by-base basis. <a href="mailto:kevin@indexcoffee.com">We can talk</a> about your budget.</p>
    <h2>I'm happy to demo for you <em>free of charge</em>, no obligations.</h2>
  </div>
</div>
<!-- <div class="row text-center">

  <div class="large-6 columns why-do-this">
    <h3>Why are you doing this?</h3>
    <p>I aspire to launch my own roasting operation, this is the groundwork and customer research for that.</p> 
  </div>
</div> -->
<div class="row text-center">
  <hr>
  <div class="large-12 columns">
    <h4>Questions? Ideas? Curious? <a href="mailto:kevin@indexcoffee.com">Talk to me</a></h4>
    <p>This is a new thing for Index, so we're making the rules up as we go. I (Kevin) am happy to provide more details or to just talk coffee with you. Seriously. I have nothing to sell and I can talk about coffee all day.</p>
  </div>
</div>
<div class="row text-center">
  <div class="large-3 columns">
    <img class="th" src="/images/service/equip-1.png">
  </div>
  <div class="large-3 columns">
    <img class="th" src="/images/service/equip-2.png">
  </div>
  <div class="large-3 columns">
    <img class="th" src="/images/service/equip-3.png">
  </div>
  <div class="large-3 columns">
    <img class="th" src="/images/service/equip-4.png">
  </div>
</div>

  <script>
  $(document).ready(function(){
    $(document).resize(function(){
      var vineEmbeds = $('.vine-embed');
      console.log(vineEmbeds)
      vineEmbeds.each(function(){
        var $this = $(this);
        $this.attr('height', $this.width())
      })
    });
    $(document).resize();

  });
  </script>